<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DummyDatabaseShow.Properties.Settings.DukkanBulutConnectionString"
            connectionString="Data Source=DESKTOP-6FUDUUO\SQLEXPRESS;Initial Catalog=DukkanBulut;Integrated Security=True;Pooling=False;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>